# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\selcourse2\02_03\start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
